body {
  font-family: 'Roboto Mono', monospace;
}

h2 {
  text-align: center;
  font-size: 18px;
}

/* Main flex box parent */
.main {
  background-color: lightgrey;
  width: 400px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*  nested flex box parent */
.container {
  width: 300px;
  height: 300px;
  background-color: dodgerblue;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.child {
  height: 75px;
  width: 75px;
  background-color: whitesmoke;
  border: 1px solid snow;
  display: flex;
  justify-content: center;
  align-items: center;
}