body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 16px;
}

.grow,
.shrink {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
  margin: 10px 30px;
}

/* flex-basis allows us to specify the width of an item before it grows or shrinks. */
.grow.side {

  /*  will add width 60px more into two side (1 and 3) */
  flex-basis: 60px;
  flex-grow: 1;

}

.grow.center {

  /* the center will grow 3  */
  flex-grow: 3;

}

.shrink.side {

  /*  will add width 300px more into two side (1 and 3) */
  flex-basis: 300px;
  flex-shrink: 3;

}

.shrink.center {
  flex-shrink: 2;
  flex-basis: 150px;
}


#grows,
#shrinks {
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  min-height: 200px;
  align-items: center;
}