html,
body {
  font-family: Helvetica, sans-serif;
  /* font-size is for rem size use,the rem use the parement size */
  font-size: 16px;
  margin: 0;
  background-color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  height: 30rem;
  padding-top: 1rem;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-5/tsunami-coffee/images/bg-photo.png);
  background-size: cover;
}

.main img {
  width: 15rem;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

nav {
  background-color: OrangeRed;
  color: White;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
  padding: 0.75rem 1.25rem;
}

.supporting,
.rating,
.gallery,
.location {
  margin: 4em auto;
}

.supporting {
  display: flex;
  align-items: flex-start;
  padding: 0 1rem;
}


/*  percentage width and height is based on the parent width which is .supporting? */
.supporting img {
  height: 10%;
  width: 10%;
  margin-right: 5%;
}

.rating {
  background-color: OrangeRed;
  height: 20rem;
  padding: 0 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating h1 {}

.gallery img {
  display: block;
  width: 30%;
  margin: 1.5%;
  float: left;
  /* Use rem units to make the h1 text equivalent to 40 pixels. 
  This can be calculated based on the html element’s font size. */
  font-size: 2.5rem;
}

.clearfix {
  clear: both;
}

.location {
  text-align: center;
  margin-bottom: 7rem;
}

.location img {
  width: 100%;
}

footer {
  background-color: OrangeRed;
  padding: 0 1rem;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5em 0;
  color: white;
}

/*  media queries */
@media only screen and (max-width:960px) {
  .main {
    padding-top: 0;
  }
}


@media only screen and (max-width: 700px) {
  .supporting img {
    display: none;
  }
}

@media only screen and (max-width:510px) {
  h1 {
    font-size: 2rem;
  }

  /* margin to 0 so they span across the entire page. */
  .gallery img {
    margin: 0;
  }

  /* Hide the nav inside the footer to appear better on small screens. */
  footer nav {
    display: none;
  }
}