html,
body {
  max-width: 1200px;
  margin: auto;
  font-family: "Space Mono", sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: GhostWhite;
  background-color: black;


}

body {
  background-image: url("../img/space.jpg");
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.clearfix {
  clear: both;
}

/* Title and Description */

.page-title {
  text-align: center;
  margin: auto;
  line-height: 2em;
}

.logo {
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 1em;
}

.page-title h1 {
  display: inline-block;
}

.main {
  text-align: center;
}

.page-description {
  font-size: 0.8rem;
  padding: 30px;
}

.learn-more {
  color: DarkOrange;
  text-decoration: none;
  display: block;
  margin: 25px 0 0 0;
  font-weight: bold;
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  width: 240px;
  border: 2px solid GhostWhite;
  border-radius: 4px;
}

/* Footer Navigation */

nav {
  margin-top: 30px;
}

nav ul {
  display: block;
}

nav li {
  display: inline;
  margin: 0 20px 0 0;
  color: GhostWhite;
}

nav a {
  line-height: 60px;
  border: 1px solid GhostWhite;
  padding: 7px;
  border-radius: 4px;
  color: DarkOrange;
  text-decoration: none;
}

.contact-btn {
  cursor: pointer;
  margin: 20px 30px;
  text-align: center;
}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

@media only screen and (max-width: 480px) {
  .page-title {
    width: 270px;
  }
}


/* By using multiple widths and heights, a range can be set for a media query. */

@media only screen and (min-width:320px) and (max-width:480px) {

  .gallery-item .thumbnail {
    width: 95%;
  }

}


/* supply higher quality media (images, video, etc.) */

@media only screen and (min-resolution: 300dpi) {
  /* CSS for high resolution screens */
}

/* And Operator require multiple media features */

@media only screen and (max-width: 480px) and (min-resolution: 150dpi) {
  /* CSS ruleset */

  .page-description {
    font-size: 20px;
  }
}

/* If only one of multiple media features in a media query must be met, media features can be separated in a comma separated list.
 */

/* The orientation media feature detects if the page has more width than height. If a page is wider, it’s considered landscape, and if a page is taller, it’s considered portrait. */

@media only screen and (min-width:320px) and (max-width:480px),
(orientation: portrait) {

  .gallery-item .thumbnail {
    width: 95%;
  }

}


/* Breakpoints */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS ruleset */
  .page-title,
  .page-description {
    float: left;
    width: 20em;
  }

  .page-description {
    text-align: left;
  }
}