body {
  background-color: #FFF;
  display: flex;
  flex: 1;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

header {
  align-items: center;
  background-color: #FFF;
  border-bottom: 2px solid #F0F0F0;
  box-sizing: border-box;
  display: flex;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 10;
  justify-content: center;
}

.header-content {
  width: 800px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

nav {
  flex: 2;
  padding: 0 10px;
}

.nav-link-list {
  flex: 1;
  flex-direction: row;
  display: flex;
  padding: 0;
}

nav a {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  margin-left: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

#logo {
  width: 100px;
}

.primary-text-color {
  /* Set color to a new value with at least 3:1 contrast ratio */
  color: #333333;
}

.secondary-text-color {
  color: #767676;
}

/* SEARCH INPUT STYLES */

.search-container {
  background-color: purple;
  position: relative;
}

.search-icon {
  margin-right: 10px;
}

.search-container input {
  font-size: 16px;
  padding: 5px;
  width: 200px;
}

.main {
  background-color: #FFF;
  height: 100%;
  padding-top: 75px;
  width: 100%;
}

/* SPOTLIGHT CONTENT */
.spotlight-container {
  background-color: #F0F0F0;
  box-sizing: border-box;
  height: auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.spotlight-list {
  display: flex;
  /* Change flex-direction to match HTML content order */
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 800px;
}

.spotlight-item {
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 0 5px;
  position: relative;
  width: calc(100% / 3);
}

.spotlight-item-inner {
  background-color: #FFF;
  border-radius: 4px;
  flex: 1;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgb(50 50 93 / 10%);
  -webkit-box-shadow: 0 2px 4px 0 rgb(50 50 93 / 10%);
  display: flex;
  flex-direction: column;
}

.spotlight-image-link {
  display: block;
  height: 220px;
  width: 100%;
  background-color: rgba(155, 155, 155, 0.07);
}

.spotlight-image-link:hover {
  opacity: .8
}

.spotlight-image-link img {
  height: 100%;
  object-fit: cover;
  transition: opacity .17s ease;
  width: 100%;
  z-index: 1;
}

.post-info {
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.post-meta span {
  display: inline-block;
}

.post-title {
  font-size: 1.3rem;
  flex: 2;
}

.post-author {
  font-weight: bold;
  /* color: #333333; */
  letter-spacing: 1px;
  font-size: 14px;
}

.post-author a::after {
  content: " - ";
}

.post-date {
  color: #aaa;
  font-size: 14px;
}

.post-tag {
  height: 20px;
  z-index: 5;
  background-color: #f2644f;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 5px;
  width: fit-content;
}

/* MAIN CONTENT */
.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-list {
  width: 1000px;
  height: auto;
  padding: 0
}

.content-list-item {
  height: 35vh;
  background-color: #F8F8F8;
  overflow: hidden;
  display: flex;
}

.content-list-item:nth-child(n+2) {
  margin: 20px 0;
}

.content-item-image-container {
  width: 35%;
  position: relative;
  border-radius: 8px;
}

.content-item-image-container .post-tag {
  position: absolute;
  top: 10px;
  left: 10px;
}

.content-item-image-link {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-item-image-link:hover {
  opacity: .8
}

.content-item-image-link img {
  height: 100%;
  object-fit: cover;
  transition: opacity .17s ease;
  width: 100%;
  z-index: 1;
  border-radius: 4px;
}

.content-item-info {
  flex: 1;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

.content-item-title {
  font-size: 1.3rem
}

.summary {
  /* Change font-size below to be between 18 to 20 pixels */
  font-size: 20px;
  /* Set line-height to 1.5 */
  line-height: 1.5;

  /* Set letter-spacing to 1.2 */
  letter-spacing: 1.2;

  /* Change text-align to left */
  text-align: left;

  overflow: hidden;
}

.btn {
  padding: 10px 20px;
  outline: none;
  box-shadow: none;
  background: none;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.read-more {
  background-color: #f2644f;
  color: #FFF;
  border-radius: 2px;
  transition: background .17s ease;
}

.read-more:hover {
  background-color: #202020;
}

.social-share-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.social-link {
  margin: 0 5px;
}

.social-link .icon {
  font-size: 20px;
  color: #333333;
}

a:hover {
  /* Set links to change color when they are hovered over */
  color: #29D8DB;


  /* Set cursor to pointer */
  cursor: pointer;

}

.spotlight-item-sm {
  display: none;
}

nav select {
  display: none;
}

input:focus {
  outline: none;
  /* Set solid border of size 1px and of a color of your choice */
  border: 1px solid #414CE1;

}

.premium {
  /* Hide premium content */
  display: none;

}

@media screen and (max-width: 800px) {

  header {
    padding: 0 30px;
  }

  nav {
    padding: 0 12px;
  }

  nav select {
    display: inline-block;
    font-size: 16px;
    padding: 5px;
  }

  .nav-link-list {
    display: none;
  }

  .content-list-item {
    height: 35vh;
  }

  .spotlight-container {
    background-color: #F0F0F0;
    box-sizing: border-box;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    height: auto;
  }

  .spotlight-list {
    display: flex;
    /* Change flex-direction to match HTML content order */
    flex-direction: column-reverse;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 1000px;
  }

  .spotlight-item {
    display: none;
  }

  .spotlight-item-sm {
    display: flex;
    height: 35vh;
  }

  .spotlight-item-sm:nth-child(n+2) {
    margin: 10px 0;
  }

  .spotlight-item-sm .content-item-info {
    background-color: #FFF;
  }

}

/* print the pages */
@media print {
  a[href^="http"]:after {
    content: " (" attr(href) ")";
  }
}